<nav class="navbar navbar-expand-lg custom-navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="/home">
            <img src="/img/LogoRutaCulturalTransparente.png" alt="Logo Ruta Cultural" class="navbar-logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="/home">Inicio</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/listaRutasPredeterminadas">Rutas</a>
                </li>
                <!-- Mostrar "Mis Rutas" solo para usuarios autenticados -->
                <li class="nav-item" th:if="${#authorization.expression('isAuthenticated()')}">
                    <a class="nav-link" href="/listaMisRutas">Mis Rutas</a>
                </li>
				<li class="nav-item">
				    <a class="nav-link" href="/crearRutaUsuario">Crear Rutas</a>
				</li>
                <!-- Mostrar "Rutas Realizadas" solo para usuarios autenticados -->
                <li class="nav-item" th:if="${#authorization.expression('isAuthenticated()')}">
                    <a class="nav-link" href="/listaRutasRealizadas">Rutas Realizadas</a>
                </li>            
                <!-- Mostrar opciones según la autenticación -->
                <li id="navLogOut" class="nav-item" th:if="${#authorization.expression('isAuthenticated()')}">
                    <a class="nav-link" href="/cerrarSesion">Cerrar Sesión</a>
                </li>
                <li id="navLog" class="nav-item" th:unless="${#authorization.expression('isAuthenticated()')}">
                    <a class="nav-link" href="/login">Iniciar Sesión</a>
                </li>
                <li id="navReg" class="nav-item" th:unless="${#authorization.expression('isAuthenticated()')}">
                    <a class="nav-link " href="/registrar">Registrarse</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
