<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Navbar</title>
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar">
        <div class="nav-logo">
            <span class="material-symbols-outlined">place</span>
        </div>
        <div class="nav-toggle">
            <span class="material-symbols-outlined">menu</span>
        </div>
        <ul class="nav-links">
            <li><a href="#">Mis rutas</a></li>
            <li><a href="/rutasPreder">Rutas</a></li>
            <li><a href="#">Crear Ruta</a></li>
            <li><a href="#">Favoritos</a></li>
            <li><a href="#">
                <span class="material-symbols-outlined">person</span>
            </a></li>
        </ul>
    </nav>

    <!-- Main content -->
    <div class="content">
        <h1>Página principal</h1>
    </div>   
</body>
</html>