<nav class="navbar navbar-expand-lg custom-navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="/home">
            <img src="/img/LogoRutaCulturalTransparente.png" alt="Logo Ruta Cultural" class="navbar-logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="/home">Inicio</a>
                </li>
            </ul>
            <ul class="navbar-nav">
				<li class="nav-item">
				    <a class="nav-link" href="/listaRutasPredeterminadas">Rutas</a>
				 </li>
                <li class="nav-item">
                    <a class="nav-link" href="/listaMisRutas">Mis Rutas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/crearRutaUsuario">Crear Rutas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/listaRutasRealizadas">Rutas Realizadas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="perfilUsuario">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                        </svg>
                    </a>
					<!-- Mostrar opciones según la autenticación -->
					               <li class="nav-item" th:if="${#authorization.expression('isAuthenticated()')}">
					                   <a class="nav-link" href="/cerrarSesion">Cerrar Sesión</a>
					               </li>
					               <li class="nav-item" th:unless="${#authorization.expression('isAuthenticated()')}">
					                   <a class="nav-link" href="/login">Login</a>
					               </li>
					               <li class="nav-item" th:unless="${#authorization.expression('isAuthenticated()')}">
					                   <a class="nav-link" href="/registrar">Registrarse</a>
					               </li>
					           </ul>
        </div>
    </div>
</nav>