*, ::after, ::before {
    box-sizing: border-box;
}
body{
	margin: 0;
	padding: 0;
 	font-family: "Unna", serif;	
	background-color: white;
	font-size: calc(1rem + 0.25vw);
	height: 100%;
}
/*Navbar*/
.custom-navbar {
    background-color: rgb(235, 235, 235); /* Fondo blanco */
    color: black; /* Fuente negra */
    border-radius: 8px; /* Bordes redondeados */
    margin: 15px; /* Espaciado exterior */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
    padding: 10px; /* Espaciado interno opcional */
	text-align: center;
}

.custom-navbar a.navbar-brand {
    color: black;
    text-decoration: none;
}

.custom-navbar a.navbar-brand:hover {
    color: #555555; 
}
.navbar-logo {
    max-width: 100px; 
    min-width: 80px; 
    width: 100%;
    height: auto; 
    transition: transform 0.3s ease; 
}

.navbar-logo:hover {
    transform: scale(1.1); 
}
/*Footer*/
.footer{
	background-color: lightgrey;
	padding: 1rem;
}

/*Página Principal - Inicio*/
.homeHero{
	background-image: url("/img/HeroMobile.png");	
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0;
	padding:  0 0.5em 0 0.5em;
	display: flex;
	flex-direction: column; 
	align-items: center;
	padding: 0;
	justify-content: center; 
	text-align: center;
	margin-top: 2em;
}

@media (min-width: 718px) {
	.homeHero{
		background-image: url("/img/Hero1.jpg");				
	}
}
@media (min-width: 1245px) {
	.homeHero{
		background-image: url("/img/Hero2.jpg");			
	}
}
.homeHero h1.display-5{
	font-family: "Cinzel Decorative", serif;
    font-size: calc(1.9rem + 2.1vw);	
	margin-bottom: 0.1em;
	background-color: rgba(0, 0, 0, 0.65);
	color: white;
	border-radius: 0.5em;
	display: block;	 
	padding: 0.25em; 	
}

.homeHero h2.display-5 {
	font-family: "Cinzel Decorative", serif;
    font-size: calc(0.8rem + 2.1vw);
	background-color: rgba(0, 0, 0, 0.6);
	color: white;
	border-radius: 0.5em;
	display: inline-block; 
	padding: 0.3em 0.7em 0.3em 0.7em;
	margin-top: 0.8em; 
}

.image-section img {
     width: 100%;
     height: auto;
     border-radius: 10px;
 }
 .content-section {
     display: flex;
     flex-direction: column;
     justify-content: center;
 }
 
 .feature-card{
	margin-top: 1.2em;
 }
 
 @media (min-width: 768px) {
    .image-section img {
    height: 100%;
    object-fit: cover;
   }
}

/*Párrafo Explora*/
.tpExplora{
	color: rgb(219,10,19);
	font-weight: bold;
	font-size: calc(1.6rem + 1vw);	
}
.bIC{
	background-color: rgb(219,10,19);
	border: none;
	font-size: 1.1em;
	margin: 0 auto;
	padding: 0.5em 1em 0.4em 1em;
}
.bIC:hover{
	background-color: rgb(163, 7, 15);
	
}
.bMR{
	background-color: rgb(27, 70, 145);
	border: none;
		font-size: 1.1em;
		margin: 0 auto;
		padding: 0.5em 1em 0.4em 1em;
		color: white;
}
.bMR:hover{
	background-color: rgb(21, 56, 115);
	color: white;
}
div.pcontainer{
	padding: 0;
	margin: 3.3em 2em 3.3em 2em;
}

/*S1*/
.sec1{
	margin-top: 4em;
	background-color: rgb(117,40,100);
	padding: 0.4em 1em 0.05em 1em;
	color: white;
}

.ts1{
	color: rgb(240, 222, 2);
	margin-top: 1em;
}

.as1{
	font-size: 1.1em;
	margin: 0 auto;
	padding: 0.5em 1em 0.4em 1em;
	background-color: rgb(180, 180, 180);
	border: none;
	color: black;
}
.as1:hover{
	color: rgb(180, 180, 180);
	background-color: black;
}

/*Seción ¿Por Qué Elegirnos?*/
.tPE{
	font-size:  calc(1.9rem + 1vw);	
	margin-top: 1.8em;
}
.feature-card {
      border: 1px solid rgb(117,40,100);
      border-radius: 10px;
      padding: 20px;
      background: rgb(235, 235, 235);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .feature-card h3 {
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 10px;
    }
    .feature-card p {
      font-size: 1rem;
      color: #555;
    }
    .feature-card .image-container img {
      width: 100%;
      max-height: 100px;
      object-fit: contain;
    }	
.feature-card div > p{
	font-size:  calc(1rem + 0.25vw);	
}
    @media (min-width: 840px) {
      .features-container {
        display: flex;
        gap: 20px;
      }
      .feature-card {
        flex: 1;
      }
    }

/*Login y Registrar*/
.wrapper {
    max-width: 500px;
    border-radius: 10px;
    margin: 11em auto;
    padding: 30px 40px;
    box-shadow: 10px 10px 40px  black
}

.h2 {
    font-size: 3.5rem;
    font-weight: bold;
    color: black
}


.input-field {
    border-radius: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid black;
    color: black
}

.input-field:hover {
    color: rgb(128, 128, 128);
    border: 1px solid black
}

input {
    border: none;
    outline: none;
    box-shadow: none;
    width: 100%;
    padding: 0px 2px;
    font-family: 'Poppins', sans-serif
}

.fa-eye-slash.btn {
    border: none;
    outline: none;
    box-shadow: none
}

a {
    text-decoration: none;
    color: black;
    font-weight: 700
}

a:hover {
    text-decoration: none;
    color: black
}

.option {
    position: relative;
    padding-left: 30px;
    cursor: pointer
}

.option label.text-muted {
    display: block;
    cursor: pointer
}

.option input {
    display: none
}

.checkmark {
    position: absolute;
    top: 3px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 50%;
    cursor: pointer
}

.option input:checked~.checkmark:after {
    display: block
}

.option .checkmark:after {
    content: "";
    width: 13px;
    height: 13px;
    display: block;
    background: rgb(192, 192, 192);
    position: absolute;
    top: 48%;
    left: 53%;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 300ms ease-in-out 0s
}

.option input[type="radio"]:checked~.checkmark {
    background: #fff;
    transition: 300ms ease-in-out 0s;
    border: 1px solid black
}

.option input[type="radio"]:checked~.checkmark:after {
    transform: translate(-50%, -50%) scale(1)
}

.btn.btn-block {
    border-radius: 20px;
    background-color: rgb(117,40,100);;
    color: #fff
}

.btn.btn-block:hover {
    background-color: rgb(80, 27, 68);
}

@media(max-width: 575px) {
    .wrapper {
        margin: 8em auto;
    }
}

@media(max-width:424px) {
    .wrapper {
        padding: 30px 10px;
        margin: 5px;
    }

    .option {
        position: relative;
        padding-left: 22px
    }

    .option label.text-muted {
        font-size: 0.95rem
    }

    .checkmark {
        position: absolute;
        top: 2px
    }

    .option .checkmark:after {
        top: 50%
    }

    #forgot {
        font-size: 0.95rem
    }
}

/* Lista Rutas P */
/* Estilo de la tarjeta */
.eRP{
	margin-bottom: 1em;
}
.route-card-wrapper {
  position: relative;
  margin-bottom: 3.5em; /* espacio entre tarjetas */
  transition: all 0.3s ease;
}

.route-card-wrapper:hover {
  transform: scale(1.02); /* Pequeño zoom al hacer hover */
}

.route-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.route-card:hover {
  border: 2px solid rgb(117,40,100);
}

.route-image img {
  width: 100%;
  height: auto;
}

.route-details {
  padding: 20px;
  flex: 1;
}

.route-data {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 10px;
}

.route-data .data-item {
  flex: 1 1 45%;
  background: #f8f9fa;
  padding: 10px 15px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.route-data .data-item strong {
  display: block;
  font-weight: bold;
}

.route-card-button {
  position: absolute;
  bottom: -20px; /* Ajusta la posición del botón */
  left: 50%;
  transform: translateX(-50%);
  width: 90%; /* Asegura que se alinee con la tarjeta */
  z-index: 1;
  transition: all 0.3s ease;
}
.hNRP{
	margin-bottom: 1em;
	font-weight: bold;
	font-size: calc(1.3rem + 0.29vw);
}
.btnGeMR{
	background-color: rgb(117,40,100);
	border: none;
	font-size: calc(1rem + 0.21vw);
}
.btnGeMR:hover{
	background-color: rgb(97, 33, 83);
}
.route-card-wrapper:hover .route-card-button {
  z-index: 2;
}

/* Responsive */
@media (min-width: 1300px) {
  .route-card {
    flex-direction: row;
    align-items: stretch;
  }

  .route-image {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f9fa;
  }

  .route-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .route-details {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .route-card-button {
    position: static;
    transform: none;
    margin-top: 10px;
    width: 100%;
  }
}

/*Detalle rutas pre*/
.bi-arrow-bar-left{
	margin-bottom: 1em;
}

.back-button {
    color: #3498db;
    text-decoration: none;
}

.details-list {
    list-style: none;
    padding: 0;
}

.details-list li {
    padding: 0.5rem 0;
    border-bottom: 1px solid #eaeaea;
}

.details-list li:last-child {
    border-bottom: none;
}

.points-list {
    margin-top: 2rem;
}

/*Lista pI*/
.poi-card {
      border: 1px solid #ddd;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .poi-image {
      position: relative;
      width: 100%;
      height: 200px;
      overflow: hidden;
    }

    .poi-image img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .poi-image .poi-icon {
      position: absolute;
      bottom: 10px;
      right: 10px;
      background-color: #fff;
      color: #007bff;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      font-size: 1.5rem;
    }

    .poi-details {
      padding: 20px;
    }
.cate{
	font-size: calc(0.9rem + 0.28vw);	
	margin: 0.2rem 0rem 0rem 0.6rem;
}
.pNo{
	margin-bottom: 1.3em;
	font-weight: bold;
}
.btnCR{
	font-size: calc(1.1rem + 0.20vw);	
	margin-bottom: 1.5em;
}
.btnS{
	font-size: calc(1.1rem + 0.20vw);
	background-color: rgb(117,40,100);	
	border: none;
}
.btnS:hover{	
	background-color: rgb(94, 32, 80);		
}
    .poi-data {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      margin-top: 10px;
    }

    .poi-data .data-item {
      flex: 1 1 100%; /* Mobile-first: ocupa el 100% */
      background: #f8f9fa;
      padding: 10px 15px;
      border-radius: 5px;
      text-align: left;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    @media (min-width: 576px) {
      .poi-data .data-item {
        flex: 1 1 calc(50% - 10px); /* Dos columnas en pantallas más grandes */
      }
    }
	.selected-points { min-height: 50px; }
	   .placeholder-text { color: gray; font-style: italic; }
	   .poi-card.selected { background-color: #e9fce9; border-color: #4caf50; }
	   .poi-card.selected .poi-details { background-color: #e9fce9; 
	}
	   
/* Mobile-first: ocupa el 100% */
.timeline {
          position: relative;
          margin: 20px 0;
      }
      .timeline .point {
          display: flex;
          align-items: center;
          margin-bottom: 10px;
      }
      .timeline .point .circle {
          width: 20px;
          height: 20px;
          border-radius: 50%;
          margin-right: 10px;
      }
      .timeline .point.active .circle {
          background-color: rgb(117,40,100);
      }
      .timeline .point.completed .circle {
          background-color: black;
      }
      .timeline .point.pending .circle {
          background-color: gray;
      }
/*Modal*/
.modal-content {
       width: 400px; /* Tamaño del modal */
       margin: auto; /* Centrar horizontalmente */
       border-radius: 10px; /* Bordes redondeados */
       box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Sombra alrededor del modal */
}
.modal-body {
       padding: 20px;	   
}

/*Administrador*/
.admin h2 {
    font-family: 'Cinzel Decorative', cursive;
    color: #343a40;
    text-align: center;
}

.admin .form-container {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.admin .btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}

.admin .btn-secondary:hover {
    background-color: #5a6268;
}

.admin .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.admin .btn-primary:hover {
    background-color: #0056b3;
}

.admin .alert {
    margin-top: 10px;
}

@media (max-width: 768px) {
    .admin .form-container {
        padding: 15px;
    }
}
/*Mis rutas*/
/* Ícono de la papelera */
.icon-trash {
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 10; 
    transition: transform 0.2s ease, color 0.2s ease;
	background-color: white;
	border-radius: 0.4rem;
	padding: 0em 0.2em 0.15em 0.2em;
}

.icon-trash:hover {
    transform: scale(1.2); 
}
